* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html, body {
	height: 100%;
	background-color: #eeeee6;
}

div#info {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	height: 300px;
	background-color: #eeeeee;
}

div#map {
	position:absolute;
	top: 0px;
	left: 280px;
	width: 720px; /* set by webmap.js */
	height: 460px; /* set by webmap.js */
}

div#left {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 280px;
	height: 100%;
	margin-left: 5px;
/*	overflow: scroll;*/
}

.editing .edit, .editing .view {
 display: inline;
}

label {
	clear: left;
	float: left;
	width: 7em; /* or whatever length suits */
	text-align: left;
}

/* key/value pairs */
div.keyvalue {
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.keyvalue dt {
	float: left;
	clear: both;
	width: 40%;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.keyvalue dt.spinlabel{
	float: left;
	clear: both;
	width: 40%;
	font-weight: bold;
	padding-top: 9px;
	padding-bottom: 0px;
}

div.keyvalue dt:after {
	content: ":";
}

div.keyvalue dd {
	float: left;
	width: 60%;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.keyvalue input.lineedit {
	width: 95%;
}

div.separator {
	clear: both;
	width: 100%;
	border-top: 2px solid grey;
}

/* spin box */
.spin_updown
{
	list-style: none;
	display: inline-block;
	line-height: 0;
	vertical-align: middle;
}
.spin_updown input
{
	font-size: 5px;
	height: 15px;
	width: 20px;
}

input.spin_value
{
	width: 84%;
	border: none;
	background-color: #eeeee6;
}

/* submit */
div.submit {
	padding-top: 5px;
	padding-bottom: 5px;
}
