Package: flyhigh
Version: 0.2-0
Section: kde
Priority: optional
Architecture: i386
Depends: kdelibs4 (>= 3.3.2-1), libqt3c102-mt (>= 3.3.3-4.1), libqt3c102-mt-mysql (>= 3.3.3-8), gnuplot (>= 4.0.0-2), mysql-server (>= 4.0.23-1), mysql-common (>= 4.0.23-1)
Provides: flyhigh
Installed-Size: 491066
Maintainer: Alex Graf <grafal@sourceforge.net>
Description: Manage flights
 Configuration of GPS flight devices, r/d tasks, r/w/d waypoints, r/w/d routes, 
 r/w/d CTRs, flight book. Show flight as graphic using gnuplot and gpligc.
 Supported devices: Flytec 5020.
