#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=FlyHigh
Exec=flyhigh
Icon=flyhigh
Type=Application
Categories=Utility
Comment=Flight preparation and analysis
